In [1]:
import numpy as np
import pandas as pd

In [2]:
#a_r_i=pd.read_Xls("cbcdatasets1.xls")
a_r_i=pd.read_excel("ari_datasets.xls")

In [3]:
a_r_i.head(3)
a_r_i.columns

Index(['Gender', 'age ', 'wbc', 'hgb', 'rbc', 'plt', 'lym', 'mid', 'grand',
       'hct', 'mcv', 'mch', 'mchc', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [12]:
a_r_i.head(3)
#a_r_i=a_r_i.drop(columns="s no ")
#a_r_i.to_csv("ari_datasets.csv")

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,m,51,6.5,14.0,5.37,144.0,19.3,4.7,76.0,46.9,87.2,26,29.8,NaN,NaN,NaN,NaN
1,f,17,7.3,11.1,4.92,222.0,31.1,6.5,62.4,38.0,77.2,22.7,29.3,NaN,NaN,NaN,NaN
2,f,22,11.2,11.2,4.37,151.0,117.5,5,77.9,37.3,85.4,25.6,29.9,NaN,NaN,NaN,NaN

In [15]:

a_r_i = a_r_i.drop(columns=['Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16'])

In [16]:
a_r_i.columns

Index(['Gender', 'age ', 'wbc', 'hgb', 'rbc', 'plt', 'lym', 'mid', 'grand',
       'hct', 'mcv', 'mch', 'mchc'],
      dtype='object')

In [6]:
normal_ranges.items()

NameError: name 'normal_ranges' is not defined

In [17]:
conditions=[
#(a_r_i["wbc"]>=11) &  (a_r_i["rbc"]>=4.7) & (a_r_i["rbc"]<=6.4) & (a_r_i["plt"]>=150)# & (a_r_i["mcv"]>=80) #&(a_r_i["mcv"]<=96) #&(a_r_i["grand"]>=35.5) & (a_r_i["grand"]<=48.5)
(a_r_i["wbc"]>=11) &  (a_r_i["grand"]>=70)
]
values=["1"]
a_r_i["ari_result"]=np.select(conditions,values)

In [20]:
a_r_i.head(12)

,Gender,age,wbc,hgb,rbc,plt,lym,mid,grand,hct,mcv,mch,mchc,ari_result
0,m,51,6.5,14.0,5.37,144.0,19.3,4.7,76.0,46.9,87.2,26,29.8,0
1,f,17,7.3,11.1,4.92,222.0,31.1,6.5,62.4,38.0,77.2,22.7,29.3,0
2,f,22,11.2,11.2,4.37,151.0,117.5,5,77.9,37.3,85.4,25.6,29.9,1
3,m,26,8.9,14.1,6.50,136.0,14.3,4.3,81.7,47.6,76.2,22.5,29.6,0
4,f,28,6.3,11.3,6.29,142.0,23.5,5.5,71.0,38.4,61.0,18,29.5,0
5,f,44,13.6,12.5,4.43,181.0,29.4,5.5,65.1,41.3,93.0,28.3,30.4,0
6,m,7,3.0,14.3,5.80,99.0,46.3,7,46.7,47.7,81.4,24.8,30.5,0
7,f,8,2.9,14.6,5.89,117.0,45.5,6.4,48.1,48.2,81.8,24.8,30.3,0
8,f,16,13.0,14.8,5.92,221.0,18.2,5.4,76.4,48.6,81.9,24.9,30.4,1
9,f,28,11.8,13.0,5.23,230.0,10.4,3.2,86.4,42.1,41.1,24.8,36.6,1
10,f,23,12.0,70.4,6.40,157.0,24.6,5.1,69.3,58.5,90.5,27,29.8,0
11,f,19,10.0,12.0,5.13,260.0,30.9,6,63.1,39.9,77.9,23.3,30.0,0

In [18]:
a_r_i.ari_result.value_counts()

0    331
1    128
Name: ari_result, dtype: int64

In [19]:
a_r_i.to_csv("new_ari_dataset.csv")

# malaria , phenumaina